@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#outer {
	width: 70%;
	border: thin solid #666666;
	margin: 0 auto;
	font-size: 90%;
}

#banner, #footer {
	background-image: url(32a.jpg);
}

#banner h1 {
	text-align: center;
	padding: 1em;
	margin: 0;
	border-bottom: thick solid #000;
}

#nav {
	float: left;
	width: 250px;
}

#nav ul {
	margin: 0;
	padding: 2em 0 0 1em;
	list-style: none;
	font-weight: bold;
}

#nav li {
	margin-bottom: 1.5em;
}

#content {
	border-left-style: solid;
	border-left-width: 250px;
	border-color: #ACC4AC;
}

#content p {
	padding: 1em;
	margin: 0;
	line-height: 1.5em;
}

#content h2 {
	margin: 0;
	padding: 0 0 0 0.5em;
	letter-spacing: .3em;
}

#footer {
	border-top: thick solid #000000;
}

#footer p {
	padding: 1em;
	margin: 0;
}

a:link {
	color: #3B533B;
}

a:visited {
	color: #3B533B;
}

a:hover {
	color: #000000;
}

a:active {
	color: #4680C4;
}
